<nav class="navbar">
    <ul>
      <li class="logo-item">
        <img src="assets/logo/coficab.png" height="100" alt="COFICAB Logo" class="logo">
      </li>
      <li>
        <a routerLink="/agent-dashboard/user-management">
          <i class="fas fa-users"></i> User Management
        </a>
      </li>
      <li>
        <a routerLink="/agent-dashboard/send-mail">
          <i class="fas fa-envelope"></i> Send Mail
        </a>
      </li>
      <li>
        <a routerLink="/agent-dashboard/tables">
          <i class="fas fa-table"></i> Tables
        </a>
      </li>
      <li>
        <a routerLink="/agent-dashboard/send-mailtable">
          <i class="fas fa-envelope"></i> Send Mail table
        </a>
      </li>
      <li>
        <a routerLink="/agent-dashboard/run-r">
          <i class="fas fa-pencil-alt"></i> RUN SCRIPT
        </a>
      </li>
      
      <li>
        <a routerLink="/agent-dashboard/powerbi">
          <i class="fas fa-chart-bar"></i> Power BI
        </a>
      </li>
      <li>
        <a routerLink="/agent-dashboard/chat">
          <i class="fas fa-comments"></i> Chat
        </a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  