body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  background-color: #f5f5f5;
}

.roadmap-container {
  margin-top: 60px;
  position: relative;
  width: 100%;
  height: 91vh;
  background: url('/assets/logo/cof.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(
      rgba(22, 17, 168, 0.5),
      rgba(51, 87, 247, 0.5)
    ), url('/assets/logo/cof.jpg') no-repeat center center;
  background-size: cover;
}

.roadmap-road {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.roadmap-road path {
  fill: none;
  stroke: white;
  stroke-width: 8;
}

.roadmap-step {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.step-number {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: white;
  color: #333;
  border-radius: 50%;
  line-height: 60px;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.step-number:hover {
  background-color: rgba(220, 132, 29, 0.8);
  transform: scale(1.1);
}

.step-description {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 12px;
  border-radius: 12px;
  position: absolute;
  width: 220px;
  max-width: 300px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6); /* Adjusted background color */
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Softer shadow */
}

.step-description.left {
  left: -250px;
}

.step-description.right {
  right: -250px;
}

.roadmap-step:hover .step-description {
  opacity: 1;
  transform: translateY(0);
}

.roadmap-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
  z-index: 1;
}

.roadmap-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.roadmap-button.in-progress::before {
  width: 100%;
  background-color: green;
  animation: progressAnimation 3s linear forwards;
}

@keyframes progressAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.roadmap-button.success {
  background-color: green;
}

.roadmap-button.failed {
  background-color: red;
}

.mat-icon {
  font-size: 24px;
  z-index: 1;
}

.roadmap-button span {
  z-index: 1;
}
