:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
      rgba(22, 17, 168, 0.5),
      rgba(51, 87, 247, 0.5)
    ), url('/assets/logo/cof.jpg') no-repeat center center;
  background-size: cover;
}
  
  .signup-card {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    margin-left: 3cm;
    
    background: linear-gradient(170deg, rgba(220,132,29,0.8) 0%, rgba(22,17,168,0.8) 68%, rgba(51,87,247,0.8) 100%); /* Adjust opacity for gradient */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow */
    color: #ffffff; /* White text */
   
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
  margin-bottom: 1rem;
    font-weight: bold;
     /* Couleur des labels en blanc */
  }
  
  input {
    color: #ffffff;
  }
  
  .role-container {
    margin-bottom: 1rem;
  }
  
  .role-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #ffffff; /* Couleur des labels en blanc */
  }
  .logo-container {
    display: flex;
    justify-content: flex-start;
    margin-left: -13cm;
     
    margin-top: -15cm;
  }
  
  mat-radio-group {
    display: flex;
     
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  button {
    width: 100%;
    margin-top: 1rem;
  }
  
  .title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .title1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .error-message {
    color: #ff1744; /* Rouge pour le message d'erreur */
    margin-top: 1rem;
    text-align: center;
  }
  